:root {
    --primary: #01c664;
    --error: #e7195a;
  }
.AddYouth{
    display: grid;
    grid-template-columns: repeat(2,250px);
    grid-template-rows: repeat(3,70px);  
   gap:20px
}

.AddYouth__input{
    grid-column: span 1;
    padding-right: 30px;

}

.AddYouth__input input{
    padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.AddYouth button{
    background: var(--primary);
    border: 0;
   color: #fff;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    width: 100px;
    height: 40px;
}

.AddYouth__button{
   
    display: flex;
   
    margin-top: 25px;
    
}

@media screen and (max-width: 568px){

    .AddYouth__input{
        grid-column: span 2;
        display: flex;
        flex-direction: column;


    }

    .AddYouth__input input{
        max-width: 180px;
    }



}