.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
}

.top {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #01c664;
}

hr {
  height: 0;
  border: 0.5px solid rgb(230, 227, 227);
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    
    
   
}

.center > div {
    display: flex;
   justify-content: center;
   align-items: center;
  
   padding: 10px;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 70px;
}

.bottom{
   
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
 color:#01c664;
 display: flex;
 justify-content: center;
 align-items: center;
}

.mode{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mode > div{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

.center > div:hover{
    background-color: #f4f4f4;
  cursor: pointer;
}

.bottom > div{
    display: flex;
    justify-content: center;
   

}

.center .active {
    background-color: #d6d6d6;
}

@media screen and (max-width: 680px){
    .logo{
        font-size: 15px;
    }
    .sidebar{
    width: 90px;
    }

    .text{
        font-size: 10px;
        display: none;
    }
    .center >div{
        padding: 5px;
    }
    .mode > div{
        padding: 5px;
    }
}


