.offering-container{
    width:80vw;
    height: 100vh;
    
}

.offering-container__upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.Youth-container__table{
    margin-top: 40px;
    margin-right: 50px;
    
}
