:root {
    --primary: #01c664;
    --error: #e7195a;
  }

  .AddReview{
    display: grid;
    grid-template-columns: repeat(6,90px);
    grid-template-rows: repeat(3,70px);  
   gap:20px;
   margin-bottom:30px;
   margin-top:-10px

}

.AddReview__input{
    grid-column: span 2;
    padding-right: 30px;

}

.AddReview__input--span3{
    grid-column: span 3;
    padding-right: 30px;

}

.AddReview__input--span3 textarea{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.AddReview__input input{
    padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.AddReview button{
    background: var(--primary);
    border: 0;
   color: #fff;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    width: 100px;
    height: 40px;
}

.AddReview__button{
   
    display: flex;
   
    margin-top: 25px;
    
}
